html{
  font-family: 'Poppins', sans-serif;
}

* { /*Kommentar: Der Sternchen-Block bewirkt, dass alle %-Werte sich gegenseitig beeinflussen und man nicht an den einzelnen Werten schrauben muss. Tipp von Lorenz. Muss nicht ins html geschrieben werden, wirkt aus CSS von allein.*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #86b2aa;
  color: black;
  display: flex;
  align-items: flex-start;
}

h2{
  font-size: 20px;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin-left: auto; /* margin-left: auto + margin-right: auto zentriert eine Box, deren display property static oder block ist. */
  margin-right: auto;
  background: #fff;
  border-top: 10px solid #336666;
}

.row {
  display: inline-block;
  width: 100%;
  padding: 1em;
}

@media only screen and (min-width: 720px) {
  .row {
    padding: 1.5em 4em;
  }
}

.logo {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: auto;
  color: #336666;
  margin-bottom: -1em;
  margin-top: -1.5em;
  float: right;
}

.main-nav,
.main-nav__list {
  width: 100%;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  border-top: 2px solid #86b2aa;
}

.main-nav__list__item {
  list-style: none; /* Das list__item soll keine Listenpunkte erhalten. */
}

@media only screen and (min-width: 720px) {
  .main-nav__list__item {
    display: inline-block;
  }
}

.main-nav__list__item a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none; /* Links sollen nicht unterstrichen sein. */
  color: #336666;
}

/* Bei Mouseover oder mit active-Klasse ist der Button der Navigation purple hinterlegt und die Textfarbe weiß.  */

.main-nav__list__item a:hover,
.main-nav__list__item a.active {
  color: #f9a928;
}

.introduction{
  font-size: 28px;
  color: #336666;
  text-align: center;
  background-image: url(Bilder/me2.jpg);
  padding-right: 2em;
  padding-left: 2em;
}

.aboutme{
  margin-left: 5em;
  margin-top: 1em;
  color: #336666;
  width: 30%;
  float: left;
  display: inline-block;
}

.imageme{
  width: 400px;
  height: 700px
  float: right;
  display: inline-block;
  margin-left: 3em;
  margin-top: 3em;
}

.aboutrow{
  display: inline-block;
  width: 100%;
}

#footer{
  font-size: 0.75rem;
  text-align: center;
  color: #86b2aa;
}

.contactsheet{
  text-align: center;
  color: #336666;
  border: 2px dotted #86b2aa;
  margin-left: 5em;
  margin-right: 5em;
  b
}

.resume{
  border: 1px;
  padding: 0.5em;
  width: 200px;
  background-color: #336666;
  color: white;
}

.travelblog{
  text-decoration: none; /* ich weiß nicht warum das nicht klappt, es bleibt unterstrichen*/
  color: #f9a928;
  text-align: center;
}

img{
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  margin-left: auto;
  margin-right: auto;
}

.imgcollection{
  padding: 1em;

}

.coll1{
  display: inline-block;
  width: 100%;
}

.bild1{
  width: 50%;
  float: left;
  padding-bottom: 3em;
}

.bild2{
  width: 50%;
  float:right;
  padding-bottom: 3em;
}

.bild3{
  width: 50%;
  float:left;
  padding-bottom: 3em;
}

.bild4{
  width: 50%;
  float: right;
  padding-bottom: 3em;
}

.bild5{
  width: 50%;
  float: left;
  padding-bottom: 3em;
}

.bild6{
  width: 50%;
  float:right;
  padding-bottom: 3em;
}

.bild7{
  width: 50%;
  float:left;
  padding-bottom: 3em;
}

.bild8{
  width: 50%;
  float: right;
  padding-bottom: 3em;
}

.bild9{
  width: 100%
  padding-bottom: 3em;
  margin-bottom: 3em;
}
